<form (ngSubmit)="onSubmit()">
    <label for="clientId">Client :</label>
    <input 
      type="text" 
      id="clientId" 
      [(ngModel)]="reservation.clientId" 
      name="clientId" 
      placeholder="Jacques Dupont" 
      required>
  
    <label for="emailId">Email :</label>
    <input 
      type="email" 
      id="emailId" 
      [(ngModel)]="reservation.emailId" 
      name="emailId" 
      placeholder="votre.email@mail.com" 
      required>
  
    <label for="date">Date :</label>
    <input 
      type="datetime-local" 
      id="date" 
      [(ngModel)]="reservation.date" 
      name="date"
      [min]="minDate" 
      [max]="maxDate" 
      [step]="step" 
      [class.invalid]="!isDateValid(reservation.date)" 
      required>
    <div *ngIf="!isDateValid(reservation.date) && reservation.date">
      Les heures de réservation sont limitées entre 12h-14h et 19h-21h.  
    </div>
  
    <label for="nombrePersonnes">Nombre de personnes :</label>
    <input 
      type="number" 
      id="nombrePersonnes" 
      [(ngModel)]="reservation.nombrePersonnes" 
      name="nombrePersonnes" 
      required>
  
    <label for="message">Message</label>
    <textarea 
      type="text" 
      id="message" 
      [(ngModel)]="reservation.message" 
      name="message" 
      placeholder="Vous pouvez saisir un message ici..." 
      rows=6>
    </textarea>
  
    <button type="submit" [disabled]="!isDateValid(reservation.date)">Créer la réservation</button>
  </form>
  