<div id="antipasti">
    <h3>Antipasti</h3>
    <ul>
      <li>
        <strong>Assiette de charcuteries</strong> <br />
        le meilleur de l'Italie, le tout servi généreusement en chiffonnade - 18,00€
      </li>
      <li>
        <strong>Assiette de fromages</strong> <br />
        Fromages italiens soigneusement selectionnés - 16,00€
      </li>
      <li>
        <strong>L'authentique Burrata</strong> <br />
        Burrata de 125g avec toasts à huile de truffe - 12,00€
      </li>
      <li>
        <strong>Gressinis i parma</strong> <br />
        Craquants bâtons de gressinis enroulés de prosciutto di parma - 12,00€
      </li>
    </ul>
  </div>
  
  <div id="secondi-piatti">
    <h3>Secondi piatti</h3>
    <ul>
      <li>
        <strong>Escalope milanaise</strong> <br />
        Incroyable escalope de veau dans la noix servie avec tagliatelles - 22,00€
      </li>
      <li>
        <strong>Noix d'entrecôte argentine</strong> <br />
        Accompagnement selon les inspirations - 26,00€
      </li>
      <li>
        <strong>Bella Bruschetta</strong> - 16,00€ <br />
        Produits selon la saison
      </li>
      <li>
        <strong>Pescato del momento</strong> <br />
        Poisson selon arrivage, servi avec des tortellonis ricotta-citron et une crème au grana padano - 22,00€
      </li>
    </ul>
  </div>
  
  <div id="nos-pasta">
    <h3>Nos pasta</h3>
    <ul>
      <li>
        <strong>La carbonara</strong> <br />
        Spaghetti frais au guanciale et grana padano - 15,00€
      </li>
      <li>
        <strong>Arrabiata i burrata</strong> <br />
        Fusillis fraîches à la sauce arrabiata agrémentée d'une belle burrata de 125g - 16,00€
      </li>
      <li>
        <strong>Tartufo lovers</strong> <br />
        Papardelles fraîches crème à base de truffe, truffe selon arrivage - 22,00€
      </li>
      <li>
        <strong>Pasta di mar</strong> <br />
        Tagliolinis fraîches à l'encre de seiche, moules, spianata, poivrons et tomates séchées - 18,00€
      </li>
      <li>
        <strong>Fusillis Gorgonzola - Speck</strong> <br />
        Fusillis fraîches au gorgonzola, jambon speck, oignons confits au vinaigre balsamique, noix concassées - 16,00€
      </li>
    </ul>
  </div>
  
  <div id="nos-pizze">
    <h3>Nos pizze</h3>
    <ul>
        <li>
          <strong>Margherita</strong> <br />
          Tomates, mozzarella et basilic - 10,00€
        </li>
        <li>
          <strong>Marinara</strong> <br />
          Sauce tomate, ail, basilic, origan - 10,00€
        </li>
        <li>
          <strong>Proscuito</strong> <br />
          Tomates, mozzarella, jambon blanc et champignons, origan - 15,00€
        </li>
        <li>
          <strong>Parma</strong> <br />
          Tomates, jambon de parme affiné 20 mois, burrata di bufala 125g et roquettes - 18,00€
        </li>
        <li>
          <strong>Calabra</strong> <br />
          Tomates, mozzarella, spianata calabrese piccante et piments - 14,00€
        </li>
        <li>
            <strong>Tartufo</strong> <br />
            Base à la crème à base de truffe, mozzarella, truffe selon arrivage - 22,00€  
        </li>
        <li>
            <strong>Tonno</strong> <br />
            Base tomate, mozzarella, thon, oignons rouges - 14,00€
        </li>
        <li>
            <strong>4 Fromages</strong> <br />
            Base tomate, mozzarella, gorgonzola, scarmoza fumée et grana padano - 16,00€
        </li>
        <li>
            <strong>Veggie</strong> <br />
            Base tomate, mozzarella, aubergines, poivrons, courgettes, champignons - 14,00€
        </li>
        <li>
            <strong>Sicilienne</strong> <br />
            Tomates, mozzarella, anchois, câpres - 16,00€
        </li>
        <li>
            <strong>La mortadella</strong> <br />
            Base tomate, mozzarella, mortadelle, roquette, stracciatella, pesto verde - 18,00€
        </li>
        <li>
            <strong>La Coppa</strong> <br />
            Base tomate, mozzarella, coppa di parma, poivrons, roquette - 18,00€
        </li>
        <li>
            <strong>La verde</strong> <br />
            Base pesto verde, mozzarella, jambon speck et tomates séchées - 18,00€
        </li>
        <li>
            <strong>Portofoglio</strong> <br />
            Pâte à pizza façon portefeuille, garnie après cuisson selon les inspirations du chef ( prix selon garniture ) - 16,00€
        </li>
        <li>
            <strong>Pizza du chef</strong> <br />
            Selon l'inspiration du chef... ( prix selon garniture ) - 18,00€
        </li>
      </ul>
  </div>
  
  <div id="dolce">
    <h3>Dolce</h3>
    <ul>
        <li>
          <strong>Le classique tiramisu</strong> <br />
          Le véritable tiramisu italien, con amore - 8,00€
        </li>
        <li>
          <strong>Panna cotta</strong> <br />
          Panna cotta crémeuse aux fruits rouges - 8,00€
        </li>
        <li>
          <strong>Mousse au chocolat</strong> <br />
          Mousse au chocolat avec un trait de café - 8,00€
        </li>
        <li>
          <strong>Café Gourmand</strong> <br />
          Panna cotta - mousse au chocolat - boule de glace au choix - 10,00€
        </li>
    </ul>
  </div>
  