  body {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF1ED;
    padding: 8px 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid #374A73;
  }
  
  .logo img {
    height: 180px;
  }
  
  nav ul {
    display: flex;
    justify-content: center; /* Pour espacer les éléments de manière égale */
    padding: 0;
    margin: 40px;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 100px;
  }
  
  nav ul li a {
    color: #374A73;
    text-decoration: none;
    font-size: 30px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .home-container, .menus-container, .contact-container {
    padding: 10px;
    text-align: center;
  }

  h1 {
    color: #374A73;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
  }

  h2 {
    color: #374A73;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
  }

  p {
    color: #374A73;
    font-family: Nunito, sans-serif;
    text-align: center;
    font-size: 25px;
  }

  .section {
    padding: 10px 100px;
    margin: 30px;
    border-bottom: 2px solid #374A73; /* Ligne de délimitation entre les sections */
    background-color:#ced7ff;
  }
  
  .section h1, .section h2 {
    margin-top: 0px;
  }

  /* Background, photo du début de page */
    #background {
    padding: 5px 5px; 
    margin: 0; 
    text-align: center; 
    background-color: white;
  }

  /* Formulaire en grille */
  form .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espace entre les colonnes et les lignes */
  }
  
  form .form-group {
    display: flex;
    flex-direction: column;
  }
  
  form textarea {
    grid-column: span 2; /* Occupe les deux colonnes */
  }
  
  /* Général */
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form label {
    margin-top: 10px;
    font-weight: bold;
    color: #374A73;
    font-size: 20px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #7a7878;
    border-radius: 4px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4163ad;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Nunito, sans-serif;
    font-size: 20px;
  }
  
  form button:hover {
    background-color: #374A73;
  }
  
  /* Footer */
  footer p {
    color: #374A73;
    font-size: 18px;
  }
