/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF1ED;
    padding: 8px 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid #374A73;
  }
  
  .logo img {
    height: 180px;
  }

  .logo-text {
    color: #374A73;
    font-size: 24px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  nav ul {
    display: flex;
    justify-content: center; /* Pour espacer les éléments de manière égale */
    padding: 0;
    margin: 40px;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 80px;
  }
  
  nav ul li a {
    color: #374A73;
    text-decoration: none;
    font-size: 30px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .home-container, .menus-container, .contact-container {
    padding: 10px;
    text-align: center;
  }